langchain==0.1.16
langchain-core==0.1.50
langchain-community==0.0.36
langchain-openai==0.1.7
langchain-chroma==0.1.4
langchain-text-splitters==0.0.1
pypdf>=3.0.1
chromadb==0.5.3
openai>=1.14.3
tiktoken>=0.6.0
confluent-kafka>=2.4.0
python-dotenv>=1.0.1
redis==5.0.1
